<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiCommentMapper">

    <select id="queryObject" resultType="com.platform.entity.CommentVo">
        select c.*, u.userNickName, u.userAvatarUrl from symphony_comment c
        left join symphony_user u on c.commentAuthorId=u.oId
        where c.oId = #{value}
    </select>

    <select id="queryList" resultType="com.platform.entity.CommentVo">
        select c.*, u.userNickName, u.userAvatarUrl

        <if test="currentUserId != null">
            , exists(select oId from symphony_follow f where f.followerId = #{currentUserId} and f.followingId = c.oId and f.followingType = 7) as hasGood
        </if>

        from symphony_comment c
        left join symphony_user u on c.commentAuthorId=u.oId

        where 1=1
        <if test="commentOnArticleId != null">
            and c.commentOnArticleId = #{commentOnArticleId}
        </if>
        <if test="commentOriginalCommentId != null">
            and c.commentOriginalCommentId = #{commentOriginalCommentId}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from symphony_comment
    </select>

    <insert id="save" parameterType="com.platform.entity.CommentVo" useGeneratedKeys="true" keyProperty="oId">
        insert into symphony_comment
        (`commentContent`,
        `commentCreateTime`,
        `commentAuthorId`,
        `commentOnArticleId`,
        `commentSharpURL`,
        `commentOriginalCommentId`,
        `commentStatus`,
        `commentIP`,
        `commentUA`,
        `commentAnonymous`,
        `commentGoodCnt`,
        `commentBadCnt`,
        `commentScore`,
        `commentReplyCnt`,
        `commentAudioURL`,
        `commentQnAOffered`,
        `commentVisible`
        ) values (
        #{commentContent}
        ,#{commentCreateTime}
        ,#{commentAuthorId}
        ,#{commentOnArticleId}
        ,#{commentSharpURL}
        ,#{commentOriginalCommentId}
        ,#{commentStatus}
        ,#{commentIP}
        ,#{commentUA}
        ,#{commentAnonymous}
        ,#{commentGoodCnt}
        ,#{commentBadCnt}
        ,#{commentScore}
        ,#{commentReplyCnt}
        ,#{commentAudioURL}
        ,#{commentQnAOffered}
        ,#{commentVisible}
        )
    </insert>

    <update id="update" parameterType="com.platform.entity.CommentVo">
        update symphony_comment
        <set>
            <if test="commentGoodCnt != null">`commentGoodCnt` = #{commentGoodCnt},</if>
            <if test="commentBadCnt != null">`commentBadCnt` = #{commentBadCnt},</if>
            <if test="commentBadCnt != null">`commentBadCnt` = #{commentBadCnt},</if>
        </set>
        where oId = #{oId}
    </update>

</mapper>