<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiCommentMapper">

    <select id="queryList" resultType="com.platform.entity.CommentVo">
        select * from symphony_comment where 1=1
        <if test="articleId != null">
            and a.commentOnArticleId = #{articleId}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from symphony_comment
    </select>

    <insert id="save" parameterType="com.platform.entity.CommentVo" useGeneratedKeys="true" keyProperty="oId">
        insert into symphony_comment
        (`commentContent`,
        `commentCreateTime`,
        `commentAuthorId`,
        `commentOnArticleId`,
        `commentSharpURL`,
        `commentOriginalCommentId`,
        `commentStatus`,
        `commentIP`,
        `commentUA`,
        `commentAnonymous`,
        `commentGoodCnt`,
        `commentBadCnt`,
        `commentScore`,
        `commentReplyCnt`,
        `commentAudioURL`,
        `commentQnAOffered`,
        `commentVisible`
        ) values (
        #{commentContent}
        ,#{commentCreateTime}
        ,#{commentAuthorId}
        ,#{commentOnArticleId}
        ,#{commentSharpURL}
        ,#{commentOriginalCommentId}
        ,#{commentStatus}
        ,#{commentIP}
        ,#{commentUA}
        ,#{commentAnonymous}
        ,#{commentGoodCnt}
        ,#{commentBadCnt}
        ,#{commentScore}
        ,#{commentReplyCnt}
        ,#{commentAudioURL}
        ,#{commentQnAOffered}
        ,#{commentVisible}
        )
    </insert>

</mapper>